<header class="px-2 w-screen flex text-gray-100 border-b-4 border-red-600">
  <!-- bg color and min heigth defined in scss file-->
  <div class="container grid items-center">
    <div class="flex justify-between w-full h-2">
      <div class="flex space-x-4 flex-col md:flex-row">
        <p><i class="fas fa-phone text-red-500 mr-1"></i>+123123123213</p>
        <p><i class="fas fa-envelope text-red-500 mr-1"></i>email@email.com</p>
        <p>
          <i class="fas fa-map-marker-alt text-red-500 mr-1"></i>1234 random
          street
        </p>
      </div>
      <!-- <div class="flex space-x-4">
        <p>USD</p>
        <p>My Account</p>
      </div> -->
    </div>

    <div class="flex justify-between items-center">
      <h1 class="text-5xl">
        Electro<span class="font-bold text-red-500">.</span>
      </h1>
      <div class="items-center h-10 hidden md:flex relative">
        <div
          class="rounded-tl-full cursor-pointer select-none rounded-bl-full px-3 bg-gray-100 text-black py-2 h-full flex items-center"
          (click)="toggleCategoriesView($event)">
          <p>All Categories</p>

          <p class="p-2"><i class="fas fa-caret-down text-gray-400"></i></p>
        </div>
        <div *ngIf="showCategories"
          class="w-full h-60 p-3 absolute left-0 top-11 rounded-md rounded-tl-none shadow-lg z-40 bg-gray-50">
          <p class="font-bold text-xl text-gray-700">Collections</p>
          <div class="grid grid-flow-col gap-x-4 grid-cols-3 grid-rows-6">
            <a [routerLink]=" ['/collections', collection.id]" *ngFor="let collection of collections"
              class="text-gray-600 cursor-pointer hover:text-red-500 inline" (click)="toggleCategoriesView($event)">
              {{ collection.name }}
            </a>
          </div>
        </div>
        <input class=" px-3 py-1 w-64 outline-none rounded-none h-full text-gray-800" placeholder="Search item"
          (keydown)="setSearchValue($event)" />
        <div tabindex="0" class="
            bg-red-500
            h-full
            text-white text-center
            px-3
            py-2
            rounded-tr-full rounded-br-full
            cursor-pointer
            hover:bg-red-600
          " (click)="searchProduct()">
          <p>Search</p>
        </div>
      </div>
      <div class="flex space-x-4">
        <div>Whistlist</div>
        <div class="w-8 h-8">
          <a [routerLink]="['cart']" class="relative">
            <i class="fas fa-shopping-cart text-xl z-20 absolute"> </i>
            <span class="
                absolute
                left-1
                -top-3
                z-10
                bg-red-500
                rounded-full
                font-sans font-bold
                text-sm text-center
                w-6
                h-6
              ">{{ cart.items.length }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>