<header class="px-2 w-screen flex text-gray-100 border-b-4 border-red-600">
  <!-- bg color and min heigth defined in scss file-->
  <div class="container grid items-center">
    <div class="flex justify-between w-full h-2">
      <div class="flex space-x-4 flex-col md:flex-row">
        <p><i class="fas fa-phone text-red-500 mr-1"></i>+35201604521</p>
        <p><i class="fas fa-envelope text-red-500 mr-1"></i>email@email.com</p>
        <p>
          <i class="fas fa-map-marker-alt text-red-500 mr-1"></i>1234 random
          street
        </p>
      </div>
      <div class="flex space-x-4">
        <p>USD</p>
        <p>My Account</p>
      </div>
    </div>

    <div class="flex justify-between items-center">
      <h1 class="text-5xl">
        Electro<span class="font-bold text-red-500">.</span>
      </h1>
      <div class="items-center h-10 hidden md:flex">
        <div
          class="rounded-tl-full rounded-bl-full px-3 bg-gray-100 text-black py-2 h-full flex items-center"
        >
          <p>All Categories</p>
          <p class="p-2"><i class="fas fa-caret-down text-gray-400"></i></p>
        </div>
        <input
          class="px-3 py-1 w-64 outline-none rounded-none h-full text-gray-800"
          placeholder="Search item"
        />
        <div
          class="bg-red-500 h-full text-white text-center px-3 py-2 rounded-tr-full rounded-br-full"
        >
          <p>Search</p>
        </div>
      </div>
      <div class="flex space-x-4">
        <div>Whistlist</div>
        <div>
          <a [routerLink]="['cart']" class="relative">
            <i class="fas fa-shopping-cart text-xl">
              <span
                class="absolute -top-2 -right-5 bg-red-500 rounded-full font-sans font-thin text-sm text-center w-6 h-6"
                >{{ cart.items.length }}</span
              >
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
