td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.item:nth-child(odd) {
  background-color: #efefef;
}

th {
  padding: 0.8rem;
}

tr:last-child {
  background-color: unset;
}

td:first-child {
  padding-left: 1rem;
  padding-right: 0;
}
